//@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
//FONT FAMILY------------
$font-principal: 'Oswald', sans-serif;
$font-secundaria: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;

//FONT SIZE------------
$fontSize-titulo: 50px;
$fontSize-titulo-md: 38px;
$fontSize-subtitulo: 32px;
$fontSize-subtituloMd: 27px;
$fontSize-textLg: 20px;
$fontSize-textMd: 17px;
$fontSize-textMdS: 16px;
$spanWidth: 15px;
$fontSize-textSm: 13px;

//FONT WEIGHT------------
$fontWeight-lg: 700;
$fontWeight-md: 400;

